* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    text-align: center;
    background-color: lightblue;
    width: 60%;
    border: 1px solid;
    margin: 20px 0px;
}

img {
    display: block;
    width: 100%;
}